{% extends 'base.html' %} {% load static %} {% block content %}
<div class="horizontal-container">
  <div style="display: flex; flex-direction: column; width: 25svw">
    <div class="chat-list" id="chat-list">
      {% for chat in chats %}
      <div class="chat-plate" onclick="selectChat('{{ chat.pk }}')">
        <div class="zero-offset">
            <img class="chat-profile-image" src="/media/{{ chat.chat_image }}">
        </div>
        <div class="chat-info-div zero-offset">
          <p>{{ chat.name }}</p>
          <p id="last-message-id-{{ chat.pk }}">
            {{ chat.last_message.content }}
          </p>
        </div>
      </div>
      {% empty %}
      <center>
        <p style="margin-top: 30svh">Спочатку створіть чат</p>
      </center>
      {% endfor %}

      <center>
        <select id="user-suggestions-dropdown"></select>

        <input type="text" onkeyup="showSuggestions(this.value)" />
        <button type="submit" onclick="createChat()">Створити бесіду</button>
      </center>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; width: 68svw">
    <div class="chat-window" id="chat-window">
      <center>
        <p style="margin-top: 30svh">Спочатку виберіть співбесідника</p>
      </center>
    </div>
    <div style="display: flex; flex-direction: row">
      <div class="chat-input" id="chat-input" hidden>
        <input
          type="text"
          id="text-input"
          placeholder="Почніть писати..."
          onkeypress="sendTypingStatus(true); setTimer();"
        />
        <button type="submit" onclick="newMessage()">Відправити</button>
      </div>
      <div style="color: black" id="currently-typing-list" hidden></div>
    </div>
  </div>
</div>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
