{% extends 'base.html' %}
{% block content %}
    <div class="horizontal-container">
      <div style="display: flex; flex-direction: column; width: 25svw;">
        <div class="chat-list">
          {% for chat in chats %}
            <div class="chat-plate" onclick="selectChat({{ chat.pk }})">
              {{ chat.name }}
            </div>    
          {% empty %}
            <center>
              <p style="margin-top: 30svh;">Спочатку створіть чат</p>
            </center>
          {% endfor %}
            
          <center>
            <form method="POST">
              {% csrf_token %}
              <select id="user-suggestions-dropdown" name="user-suggestions-dropdown">

              </select>
                
              <input type="text" onkeyup="showSuggestions(this.value)">
              <button type="submit"><a>Створити бесіду</a></button>
            </form>
          </center>
        </div>
      </div>
        
      <div style="display: flex; flex-direction: column; width: 68svw;">
        <div class="chat-window" id="chat-window">
          <center>
            <p style="margin-top: 30svh;">Спочатку виберіть співбесідника</p>
          </center>
        </div>
        <div class="chat-input" id="chat-input"></div>
      </div>   
    </div>
    <script>
      let eventSource = null;
      let last_message_user = null;

      function startSSE(pk) {
        if (eventSource) {
          eventSource.close();
          last_message_user = null;
        }
        const sseData = document.getElementById('chat-window')
        sseData.innerHTML = "";

        eventSource = new EventSource(`/stream-chat-messages/${pk}`)
        eventSource.onmessage = (event) => {
          const data = JSON.parse(event.data);

          messageHTML = ``;
          
          if (data.author__username !== last_message_user) {
            if (last_message_user !== null) {
              messageHTML = `<br>`;
            }
            messageHTML += `<div class="message-box">`;
            messageHTML += `<strong>${data.author__username}</strong><br>`;
          } else {
            messageHTML += `<div class="message-box">`
          }
          messageHTML += `${data.content}</div>`
          
          
          last_message_user = data.author__username;
          sseData.innerHTML += messageHTML
        }
      }

      function submit(event, pk) {
        event.preventDefault()
        const formData = new FormData(event.target)

        const endpointUrl = `/messenger/create-message/${pk}`
        fetch(endpointUrl, {
          method: 'post',
          body: formData,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          },
        })
      }

      function selectChat(pk) {
        startSSE(pk);
        chat_input = document.getElementById("chat-input");       
      
        showString = `
          <form x-cloak @submit.prevent="submit">
            <input type="hidden" name="chat_pk" value="${pk}">
            <div>
              <textarea name="content" autofocus placeholder="Почни писати..."></textarea>

              <button class="button">Відправити</button>
            </div>
          </form>
        `
               
        chat_input.innerHTML = showString;
        const form = document.querySelector("#chat-input form");
        if (form) {
          form.addEventListener("submit", function(event) {
            submit(event, pk);
          });
        }
      }

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      function showSuggestions(username) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          const response = JSON.parse(this.responseText);
          const user_suggestions = response.user_suggestions;

          user_suggestion_options = "";

          for (let i = 0; i < user_suggestions.length; i++) {
            user_suggestion_options += `<option value="${user_suggestions[i].id}">${user_suggestions[i].username}</option>`;
          }

          document.getElementById("user-suggestions-dropdown").innerHTML = user_suggestion_options;
        }
        xhttp.open("POST", "/messenger/chat/users/", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        xhttp.send(JSON.stringify({ username: username }));
      }
    </script>
{% endblock %}