* {
    margin: 5px;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #f4f4f4;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 5px;
    margin-bottom: 30px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.edit-button {
    background-color: #ffbf00;
}

.edit-button:hover {
    background-color: #cea11a;
}

.delete-button {
    background-color: #d61111;
}

.delete-button:hover {
    background-color: #b31b1b;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    background-color: rgb(34, 33, 33);
    border: rgb(34, 33, 33) 1px solid;
    border-radius: 5px;
}

.profile-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #000000;
}

.profile-form-controls {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form {
    background-color: #b5d8bd;
    color: #000000;
    border: #b5d8bd 1px solid;
    border-radius: 5px;
    padding: 20px;
}

.auth-form input {
    width: 93%;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form a {
    color: #007bff;
    text-decoration: underline;
}

.auth-form-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.messages li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

.messages .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.messages .warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}

.messages .success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.post-container {
    width: 100%;
    height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.post {
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    width: 37svh;
}

.post-text {
    width: 36svh;
    max-height: 10svh;
    overflow-x: auto; 
    overflow-y: auto; 
}

.post-image {
    width: 36svh;
    
}.chat-list {
    background-color: rgb(34, 33, 33);  
    border-radius: 5px;
    padding: 10px;
    width: 25%;
    height: 72svh;
}

.chat-window {
    background-color: rgb(34, 33, 33);  
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 72svh;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.chat-window > .message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

.chat-plate {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0px 30px 0px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}


